#repeat {
	font-size: 2vw;
	font-family: avenir;

}

p {
	display: inline;
}

/*.shape {

  background-color: black;
  width:0.2vw;
  height: 100vh;
  float:left;
}*/

/*.newHeader{
	 background-color: black;
  	width:0.2vw;
  		height: 100vh;
  		float:left;
}*/