@font-face {
    font-family: fontBody;
    src: url(./fonts/type_writer.ttf);
}

body {
	background-color: #484848;
}
h1 {
	font-family: "fontBody";
	font-size:0.7vw;
	margin: 2%;
	color: #FF0066;
}

a, .contact {
	text-decoration: none;
	color: white;
}

.website_link:hover {
	color: #00CCFF;
}

.school_website:hover {
	text-decoration: underline;
}
p {
	font-family: "fontBody";
	font-size: 0.7vw;
}
#description {
	width: 30vw;
	line-height: 1.2vw;
	color: white;
	font-family: "fontBody";
	font-size: 0.7vw;
	
}

.intro {
	color: #86DE5A;
	width: 80vw;
	position: relative;
}

#description, .intro, .projects {
	padding-left: 2%;
}


.projects {
	color: #FFFF66;
	position: absolute;
	top: 0%;
	right: 0%;
	font-size: 0.7vw;
}
.just_names{
	position: relative;
	right: 0%;
	top: 0;

}
.project_names {
	width: 30vw;
}

.project_names p {
	font-family: "fontBody";
	font-size: 0.7vw;
	color: #00CCFF;

}

.project_one {
	color: #9966FF;
	display: block;
	width: 60vw;
	display: inline;

}

.first{
	color: #9966FF;
}

.first:hover {
	color: white;
}

.punctuation{
	color: white;
}

.className, .projects .title {
	color: #FFFF66;
}
.contact {
	position: fixed;
	bottom: 0vh;
	padding-bottom: 2%;
}
.contact .email {
	font-family: "fontBody";
	color: #FF0066;
	font-size: 0.7vw;
}




